@font-face {
  font-family: "iconfont"; /* Project id 2258537 */
  src: url('iconfont.woff2?t=1626224374897') format('woff2'),
       url('iconfont.woff?t=1626224374897') format('woff'),
       url('iconfont.ttf?t=1626224374897') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e712";
}

.icon-showpassword:before {
  content: "\ea3f";
}

.icon-user:before {
  content: "\e62d";
}

.icon-shangpingouwudai2:before {
  content: "\e789";
}

.icon-morentouxiang:before {
  content: "\e62f";
}

.icon-tijikongjian:before {
  content: "\e89f";
}

.icon-danju-tianchong:before {
  content: "\e62a";
}

.icon-password:before {
  content: "\e620";
}

.icon-baobiao:before {
  content: "\e604";
}

.icon-users:before {
  content: "\e6f0";
}

.icon-ban:before {
  content: "\e624";
}

